{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="icon" href="{% static 'MariaBonita/recursos/images/icono.png' %}" sizes="32x32" type="image/png">
    <meta charset="UTF-8"​>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block titulo %}{% endblock %}</title>    
    <link rel="stylesheet" type="text/css" href="{% static 'MariaBonita/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'MariaBonita/recursos/css/mariabonita.css' %}">
    <script src="{% static 'MariaBonita/jquery/jquery-3.5.1.min.js' %} "></script>
    <script src="{% static 'MariaBonita/bootstrap/js/bootstrap.js' %} "></script>
    <script src="{% static 'MariaBonita/bootstrap/js/bootstrap.min.js' %} "></script>

<body style="background-image: url('{% static 'MariaBonita/recursos/images/fondoBody.jpg' %}');">
    <nav class="navbar navbar-expand-lg navbar-light py-lg-4" id="navPrincipal">
        <div>
            <a class="navbar-brand" href="{% url 'mariabonita:index' %}">
                <img src="{% static 'MariaBonita/recursos/images/logo.jpg' %}" height="80" width="100">
            </a>
        </div>

        <form class="form-inline" action="/resultados/">
            <input class="form-control mr-sm-2" type="text" placeholder="Buscar" aria-label="Búsqueda" name="buscar">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item {% if request.path == '/' %} active {% endif %} px-lg-3">
                    <a class="nav-link text-uppercase text-expanded navbar-brand" href="{% url 'mariabonita:index' %}">{% trans 'Inicio' %}</a>
                </li>

                <li class="nav-item {% if request.path == '/productos' %} active {% endif %} px-lg-3">
                    <a class="nav-link text-uppercase text-expanded navbar-brand" href="{% url 'mariabonita:productos' %}">{% trans 'Productos' %}</a>
                </li>

                <li class="nav-item {% if request.path == '/categorias' %} active {% endif %} px-lg-3">
                    <a class="nav-link text-uppercase text-expanded navbar-brand" href="{% url 'mariabonita:categorias' %}">{% trans 'Categorías' %}</a>
                </li>
            </ul>
            <div>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active {% if request.path == '/registro' %} active {% endif %} px-lg-3" >
                        <a class="nav-link" href="{% url 'mariabonita:registro' %}">Registro<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Iniciar Sesión<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    </nav>

<p>

</p>
<!--Contenido Dinamico -->
{% block contenidodinamico %}

{% endblock %}

<!--Footer-->
<footer class="footer text-faded text-center py-5">
    <div class="container">
        <p class="m-0">
            <a href="#" class="link">
                <span class="fa-stack fa-lg">
	                <i class="fa fa-circle fa-stack-2x"></i>
	                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	            </span>
            </a>

            <a href="#" class="link">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>

              <a href="#" class="link">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
              </a>  
        </p>

        <p class="m-0 mbt">
        	<a href="sample.html" class="link">Política de privacidad</a> ·
        	<a href="sample.html" class="link">Aviso legal</a> ·
        	<a href="sample.html" class="link">Cookies</a>
	  	</p>

        <p class="m-0 mbt1">&copy; María Bonita 2020</p>
    </div>
</footer>
</body>
</html>