{% extends "mariabonita/baseDos.html" %}
{% load static %}

{% block titulo %}
Registro
{% endblock %}

{% block contenidodinamico %}
<h1>Registro</h1>
<form action="">
    <div class="container">
        <div class="form-row">
            <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <label>Nombre(s):</label>
                <input type="text" class="form-control" placeholder="Nombres(s)">
            </div>

            <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <label>Apellidos:</label>
                <input type="text" class="form-control" placeholder="Apellidos">
            </div>

            <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <label>Correo Electrónico:</label>
                <input type="email" class="form-control" placeholder="Correo Electrónico">
            </div>

            <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <label>Contraseña:</label>
                <input type="password" class="form-control" placeholder="Contraseña">
            </div>

            <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <label>Dirección:</label>
                <input type="text" class="form-control" placeholder="Dirección">
            </div>

            <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <label>Dirección 2(Opcional):</label>
                <input type="text" class="form-control" placeholder="Dirección 2(Opcional)">
            </div>

            <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <label>País:</label>
                <input type="text" class="form-control" placeholder="País">
            </div>

            <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label>Estado:</label>
                <input type="text" class="form-control" placeholder="Estado">
            </div>

            <div class="form-group col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <label>Código Postal:</label>
                <input type="text" class="form-control" placeholder="Código Postal">
            </div>

            <button type="submit" class="btn btn-primary">Registrar</button>
            
        </div>

    </div>    

</form>
{% endblock %}