
body{
    font-family: 'Lora';
    /*background: linear-gradient(rgba(255, 241, 92, 0.65), rgba(47, 23, 15, 0.65), url("/static/MariaBonita/recursos/images/fondoBody.jpg"));*/
    background: linear-gradient(rgba(92, 255, 108, 0.85), rgba(92, 255, 108, 0.85));
    /* background-image: url("../images/fondoBody.jpg"); */
    /* background-image: image("https://mariabonita.s3.us-east-2.amazonaws.com/MariaBonita/recursos/images/fondoBody.jpg"); */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#navPrincipal{
    background-color: rgba(240, 252, 3, 0.85);
    font-family: 'Raleway';
    color: black;
}

#titulo{
    text-align: center; 
    font-size: 48px; 
    color: rgba(0, 0, 0, 0.7); 
    background-color: rgba(243, 255, 71, 0.85);
}

#contenedor{
    background: linear-gradient(to right, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 30%, rgba(97,198,231,1) 60%, rgba(183,222,237,1) 100%);
}

.footer {
    background-color: rgba(240, 252, 3, 0.85);
 }

 a.link{
    color: rgba(0, 0, 0, 0.7);
  }

.linkNav{
    font-size: 32px;
}

